[Unit]
Description=Asport Client
Documentation=https://github.com/AkinoKaede/asport
After=network-online.target

[Service]
ExecStart=/usr/local/bin/asport-client --config /usr/local/etc/asport/client.toml
DynamicUser=true
Restart=on-failure
RestartPreventExitStatus=23
StandardOutput=journal
StandardError=journal
PrivateDevices=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET AF_INET6
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictSUIDSGID=true
PrivateMounts=true
SystemCallArchitectures=native
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target